* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav{
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;

}
nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  user-select: none;
}

.title {
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-70%);
    user-select: none;
}

.titlebio {
  color: white;
  z-index: 2;
  position: absolute;
  font-weight: normal;
  text-align: center;
  font-size: 1rem;
  left: 50%;
  top: 85%;
  transform: translate(-50%,-85%);
  user-select: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

button {
  background-color: rgba(100, 100, 100, 0.5);
  font-size: medium;
  z-index: 2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  opacity: 1;
  transform: translate(0%, -25%);
}


.fade-out {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}
